<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>
    <link href="https://s3.amazonaws.com/medicalidus/uploads/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
      body {
        padding-top: 75px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
      .container {
        max-width:1000px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Medical ID One</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/cards/create">New Card</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <div class="container">

       <% if flash[:notice] %>
         <p class="alert alert-success"><%= flash[:notice] %>
       <% end %>
       <% if flash[:error] %>
         <p class="alert alert-error"><%= flash[:error] %>
       <% end %>
       <%= yield %>


   </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://s3.amazonaws.com/medicalidus/uploads/jquery-1.11.0.min.js"></script>
    <script src="https://s3.amazonaws.com/medicalidus/uploads/bootstrap.min.js"></script>

    <script>
    /** removes alerts after 4 seconds */
    window.setTimeout(function() {
        $(".alert").fadeTo(4500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
  </script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-39750038-1', 'medicalidone.com');
          ga('send', 'pageview');

  </script>
  </body>
</html>
