<h2>Create Post</h2>
<br/>
<form method='POST' action='/cards' role='form'>
  <label for="card_name">Name:</label>
  <input id="name" type='text' name='card[name]'><br>
  <label for="card_phone">Phone:</label>
  <input id=phone type='integer' name='card[phone]'><br>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
