<h2>Add your shipping address</h2>
<br/>

<form class="form-inline" role="form" method='POST' action='/addresses'>

  <div class="form-group">
    <label class="control-label" for="name">Name:</label>
    <input id="name" type='text' name='address[name]' class='form-control'>
  </div>
  <div class="form-group">
    <label class="control-label" for="address">Address:</label>
    <input id="address" type='text' name='address[address]'>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="address1">Address:</label>
    <input id="address1" type='text' name='address[address1]'>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="address2">Address:</label>
    <input id="address2" type='text' name='address[address2]'>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="email">Email:</label>
    <input id="email" type='text' name='address[email]'>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label" for="phone">Phone number:</label>
    <input id="phone" type='integer' name='address[phone]'>
  </div>
  <br>
<!--   <div class="form-group">
    <label class="control-label" for="pvc">Address1:</label>
    <input id="pvc" type='boolean' name='card[pvc]'>
  </div>
  <br> -->
  <button type="submit" class="btn btn-success">Submit</button>

</form>
